body {
    background: url("https://www.w3schools.com/howto/img_link_tree_template1_bg.jpg");
    /* The image used for background */
}

.container {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.links-container {
    display: flex;
    flex-direction: column;
    jusify-content: center;
    align-items: center;
}

.links-container a {
    width: 80%;
}

.w3-theme-l1:hover {
    background-color: #1FB5FB !important;
}

.margin-top-2 {
    margin-top: 32px;
}

.bottom {
    width: 100%;
    text-align: center;
    width: auto;
    font-weight: bolder;
}

.bottom span {
    color: #0f95de;
}

.bottom svg {
    stroke: #0bd264;
    fill: #019945;
}

@media (min-width: 768px) {
    .link {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}